## Introducción a python

In [4]:
#importar librerias
import pandas as pd

In [6]:
data = {
    "nombre": ["Boolean", "Entero", "Flotante", "Complejo", "Cadena de texto", "Tupla", "Lista", "Conjunto", "Diccionario"],
    "tipo": ["bool", "int", "float", "complex", "str", "tuple", "list", "set", "dict"],
    "ejemplo": ["True, False", "21, 34500, 34_500", "3.14, 1.5e3", "2j, 3 + 5j", "'texto cualquiera'", "(1, 3, 5)", "[ Chrome , Firefox ]", "set([2, 4, 6])", "{Chrome : v79, Firefox : v71}"]
}

df = pd.DataFrame(data)
df

            nombre     tipo                        ejemplo
0          Boolean     bool                    True, False
1           Entero      int              21, 34500, 34_500
2         Flotante    float                    3.14, 1.5e3
3         Complejo  complex                     2j, 3 + 5j
4  Cadena de texto      str             'texto cualquiera'
5            Tupla    tuple                      (1, 3, 5)
6            Lista     list           [ Chrome , Firefox ]
7         Conjunto      set                 set([2, 4, 6])
8      Diccionario     dict  {Chrome : v79, Firefox : v71}

In [12]:
# listado de palabras reservadas
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

## Mutables e inmutable

In [3]:
# --> Mutables

# Un objeto mutable es aquel que puede ser modificado después de su creación. 
# Por ejemplo, las listas son objetos mutables en Python, 
# lo que significa que se pueden agregar, eliminar o modificar elementos después 
# de que la lista haya sido creada.

# Listas
lista = [1, 2, 3]
print(lista[0])  # Imprime 1
lista[0] = 4
print(lista)  # Imprime [4, 2, 3]

# Diccionarios
diccionario = {"nombre": "Juan", "edad": 30}
print(diccionario["nombre"])  # Imprime "Juan"
diccionario["nombre"] = "Pedro"
print(diccionario)  # Imprime {"nombre": "Pedro", "edad": 30}

1
[4, 2, 3]
Juan
{'nombre': 'Pedro', 'edad': 30}

In [7]:
# --> Inmutables 

# Un objeto inmutable, por otro lado, es aquel que no se puede modificar 
# después de su creación. Los objetos inmutables en Python incluyen números, 
# cadenas y tuplas. Una vez que se crea un objeto inmutable, no se pueden 
# realizar cambios en sus valores.

# Cadena de caracteres
mensaje = "Hola mundo"
print(mensaje[0])  # Imprime "H"
mensaje[0] = "h"  # Genera un error TypeError

# Números enteros
x = 5
y = x
y += 1
print(x)  # Imprime 5
print(y)  # Imprime 6

# Tuplas
tupla = (1, 2, 3)
print(tupla[0])  # Imprime 1
tupla[0] = 4    # Genera un error TypeError

H

TypeError: 'str' object does not support item assignment

In [ ]:
# algunas funciones build-in importantes 

    print(): #Muestra el valor de un objeto o variable en la consola.
    len(): #Devuelve el número de elementos de un objeto iterable, como una lista, tupla o string.
    range(): #Crea un objeto de tipo rango que representa una secuencia de números enteros.
    input(): #Espera la entrada del usuario desde la consola y devuelve el valor ingresado.
    type(): #Devuelve el tipo de un objeto, como int, str, float, list, etc.
    int(), float(), str(): #Convierten un valor a un tipo de datos numérico entero, decimal o string, respectivamente.
    max(), min(): #Devuelve el valor máximo y mínimo en un iterable, como una lista o tupla.
    sum(): #Devuelve la suma de los elementos en un iterable, como una lista o tupla.
    sorted(): #Ordena los elementos en un iterable, como una lista o tupla, y devuelve una nueva lista ordenada.
    open(): #Abre un archivo y devuelve un objeto archivo para leer o escribir.
    enumerate(): #Devuelve un objeto enumerado que contiene tuplas de la forma (índice, elemento) de un objeto iterable.
    zip(): #Combina dos o más objetos iterables en una secuencia de tuplas, donde cada tupla contiene los elementos correspondientes de cada iterable.
    map(): #Aplica una función a cada elemento de un iterable y devuelve un objeto map que contiene los resultados.
    filter(): #Filtra los elementos de un iterable que cumplen una condición especificada en una función y devuelve un objeto filter que contiene los elementos filtrados.
    abs(): #Devuelve el valor absoluto de un número.
    round(): #Redondea un número a un número entero o decimal especificado.
    dir(): #Devuelve una lista de los nombres de atributos y métodos de un objeto.
    str(), list(), tuple(), set(), dict(): #Convierten un objeto a un tipo de datos string, lista, tupla, conjunto o diccionario, respectivamente.

In [16]:
# llamado de funciones
from example_call import * 

mi_funcion() # Imprime "Hola, mundo!" en la consola

Hola, mundo!

In [18]:
# llamado de funciones desde una carpeta 
from call_it.call_me import calculadora as cal

cal(100, 5, '*')

500

In [23]:
# puedes interpretar directamente el binario
0o6243 # 3235
# y al reves
bin(3235)

'0b110010100011'

In [10]:
# Tips chidos:
# En Python, break es una palabra clave que se utiliza para salir de un bucle 
# (ya sea for o while) antes de que se complete su ejecución normal. Se puede 
# utilizar en cualquier lugar dentro del cuerpo del bucle.
# Ejemplo:

while True:
    respuesta = input("¿Quieres salir? (s/n): ")
    if respuesta == "s":
        print("¡Hasta luego!")
        break
    print("Continuando...")

Continuando...
Continuando...
Continuando...
¡Hasta luego!

In [13]:
# isinstance: Se usa para verificar typos de datos 
# Ejemplo:

x = 30.4
if isinstance(x, int):
    print(f'{x} si es entero.')
else:
    print(f'{x} no es entero.')

30.4 no es entero.